body {
  background-color: thistle;
  max-width: 1000px;
  margin: auto;
}

.topo {
  width: 100%;
  border-width: 5px;
  border-style: double;
  display: flex;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topo > .item {
  margin-left: 100px;
}

.topo img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 1px solid;
}

section {
  width: 100%;
  border: 5px solid;
  padding: 5px 10px;
  margin: 10px 0;
}

section header {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: darkred;
}

article {
  margin-top: 10px;
  padding: 10px;
  border: 5px solid;
  background-color: aliceblue;
}

article img {
  height: 300px;
  width: 90%;
  margin: auto;
}

article h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: darkslateblue;
}

article p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.lista {
  list-style-type: none;
}

.lista li {
  margin-top: 10px;
}

.lista li a {
  text-decoration: none;
  color: gold;
}

footer {
  background-color: black;
  width: 1000px;
  margin-bottom: 20px;
  padding: 15px;
}
